body {
    background-color: rgb(50, 50, 50);
    color: white;
}

header {
    text-align: center;
}

header img {
    max-width: 10%;
    width: auto;
    height: auto;
}

h2 {
    font-size: 12px;
}

abbr {
    text-decoration: none;
}

p {
    margin: auto;
    text-align: center;
}

input[type="button"] {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
    margin: auto;
    color: white;
}

.invisivel {
    display: none;
}

th, td {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
    text-align: center;
}

td.placar  > p{
    font-size: 25px;
}

a {
    color: rgb(199, 244, 0);
    text-decoration: none;
}

img.escudo {
    max-width: 55px;
}

th {
    background-color: #999999;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

tr {
    background-color: rgb(45, 45, 45);
}

caption {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 20px;
}

.classificacao {
    border: 2px solid red;
    padding: 20px;
}

div img {
    max-width: 80%;
    width: auto;
    height: auto;
    padding-top: 20px;
}
